---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ProfileImage from "../images/me.jpeg";
---

<Layout title="Andy">
  <main>
    <h1>Home</h1>
    <div class="about">
      <div class="bio">
        <p>
          Andrew J. Park received his B.S. (Received the Dean’s award for
          graduating first rank in electronic engineering) and M.S. degrees in
          Electronic Engineering from
          <a href="https://www.khu.ac.kr/" target="_blank">Kyung Hee University</a>
          in 2019 and 2021, respectively. From 2017 to 2021, he worked in the
          <a href="http://ael.khu.ac.kr" target="_blank">Applied Electromagnetics Lab</a>
          at Kyung Hee University. During this period, he helped develop an AESA
          radar-integrated M&S software supported by the Agency for Defense Development (ADD).
          His work also includes a microwave method to remotely assess the abdominal fat
          thickness and glucose real-time monitoring. He joined
          <a href="https://grbic.engin.umich.edu" target="_blank">Dr. Grbic’s lab</a>
          as a Ph.D. student in June 2022. His current research interests
          include applied electromagnetics, metasurfaces, and radar technologies.
        </p>
      </div>
      <div class="image-wrapper">
        <Picture src={ProfileImage} alt="My profile image" class="profile" />
      </div>
    </div>
  </main>
</Layout>

<style>
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .bio {
    flex: 1;
    min-width: 300px;
    font-size: 1rem;
    line-height: 1.6;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
  }

  .profile {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    .profile {
      width: 200px;
      height: 200px;
    }

    .bio {
      text-align: center;
    }
  }
</style>
